body {
  padding-top: 50px;
}
.starter-template {
  padding: 0px 15px;
  text-align: center;
}
h1 {
  margin: 0px;
  color: rgb(2, 0, 124);
  padding: 0px;
  font-size: 48px;
  font-family: "trebuchet ms", sans-serif;
  text-shadow: 2px 2px #6a8ca3;
}
h2 {
  color: black;
}
